.header-block {
    background-color: #e5e1e1;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
}

.flex-row {
    display: flex;
}

.margin {
    margin-left: 12px;
    padding-top: 4px;
}

.login-position {
    position: relative;
    left: 420px;
}

.logout-position {
    position: relative;
    left: 500px;
}

.margin-top {
    margin-top: 40px;
}

.sort-position {
    position: relative;
    right: 34px;
}